body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #87CEEB;
}

h1, h2 {
  font-family: Arial, sans-serif;
  color: #f44336;
}

.settings-menu {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #87CEEB;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.main-menu, .settings-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-menu button, .settings-menu button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #f44336;
  color: white;
  cursor: pointer;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  background-color: #87CEEB;
  border: 5px solid #f44336;
}

.game-over {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.game-over h2 {
  font-size: 36px;
  color: #f44336;
  margin-bottom: 10px;
}

.game-over p {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.game-over button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #f44336;
  color: white;
  cursor: pointer;
}

.game-over button:last-child {
  margin-right: 0;
}

/* Media query for mobile devices */
@media screen and (max-width: 600px) {
  body {
    font-family: Arial, sans-serif; /* Changing font to Arial for better readability on mobile */
  }

  .game-container {
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .main-menu button, .settings-menu button, .game-over button {
    font-size: 16px; /* Decreasing font size for better fit on smaller screens */
  }
}
